@import url(//db.onlinewebfonts.com/c/31ed0189fe1ff1e740a652e0f75b77dc?family=Snell+Roundhand);
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --navegacion:#F07DEA;
    --deg1: rgba(211,112,197,100);
    --backgroundcolor:#fff0f3;
    --backcolor1: #f7d6e0;
    --preciobox: #f2b5d4;
    --carrito1:#f20089;
    --Carrito2: #bc00dd;

}
body{
    background-color: var(--backgroundcolor);
    font-family: 'Fredoka One', cursive;
}
.barra{
    position: fixed;
    width: 100%;
    z-index: 2000;

}
.navbar{
    background: linear-gradient(to bottom, var(--deg1), white);
    background-position-y:100px ;
    background-size: 100px 100px;
    display: block;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-family: 'Snell Roundhand';
}
.fav i, .Alcarrito i{
    border: none;
    font-size: 40px;
    color: #bc00dd;

}
.Corazon, .bolsita{
    width: auto;
    height: auto;
    border-radius: 100%;
    border: none;
    background-color: transparent;
}
.fav i:hover, .Alcarrito i:hover{
    border-radius: 100%;
    box-shadow:
    inset 0 0 50px #fff,      /* inner white */
    inset 20px 0 80px #f0f,   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px #f0f,  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px #f0f,        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */

}
.Carrito{
    text-align: center;
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 1000;
    left: 100%;
    transition: .8s;
    border-radius: 10px;

}
.Favoritos{
    margin-top: 50px;
    padding: 20px;
}
.dentroDe, .favoritos1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--backcolor1);
    margin: auto;
    height: auto;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.itemcart1{
    display: flex;
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
    background-color: var(--backgroundcolor);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.imagenCart{
    border-radius: 10px;
    width: 100px;
    height: 100px;
}
.imagenCart img{
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
.precioBox{
    margin: auto;
    /* text-align: center; */
    width: 100px;
    height: 100px;
    
}
.bx-plus, .bx-minus, .bx-trash{
    font-size: 50px;
}
.precioCart{
    text-justify: auto;
    text-align: left;
    height: 100px;
    display: inline-block;

}
.miCarrito{
    margin-top: 50px;
    width: auto;
    height: 50px;
    background-color:var(--backcolor1);
    color:var(--Carrito2);
    text-align: center;
    border-radius: 10px;
}
.fuente, .favoritos2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    background-color:var(--preciobox);
    min-height: 5px;
    width: 100%;
   border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;

}
.totalCart{
    flex-direction: column;
    background-color: white;

}
.ShowCart{
    left: 0;
    transition: .8s;
    z-index: 1000;
}
.bx-plus,.bx-minus,.bx-trash{
    position: relative;
    top: 5px;
    width: 50px;
    height: 50px;
    color: var(--carrito1);
}
.bx-minus{
    top: 45px;
    right: 50px;
}
.bx-trash{
    top: 20px;
    right: 25px;
}
.Favoritos{
    background-color:pink;
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 900;
    right: 100%;
    transition: .5s;
}
.FavoritosShow{
    right: 0;
    z-index: 200;
    transition: .5s;
}
.inicio{
width: auto;
height: auto;
}
.bannercontainer{
    position: relative;
    top: 100px;
    width: 350px;
    height: 500px;
    margin-bottom: 200px;
    border-radius: 10px;
}
.banner{
    border-radius: 10px;
    width: 300px;
    
}
.bannercontainer{
    box-shadow: rgba(75, 0, 65, 0.4) 0px 0px 0px 2px, rgba(156, 3, 131, 0.65) 0px 20px 10px -1px, rgba(255, 0, 140, 0.08) 0px 10px 0px inset;
}
.swiper{
    background-color:var(--preciobox) ;
    min-width: 350px;
    height: 600px;
    overflow: hidden;

}
.principalImg{
    background-color: beige;
    margin: auto;
    width: 100%;
    height: 400px;
    position: relative;
    border-radius: 10px;
}
.principalImg img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.principalTitulo{
    margin: auto;
    width: 200px;
    height: 100px;
}
.principalBtn{
    margin: auto;
    background-color: blueviolet;
    width: 200px;
    height: 50px;
}
.principalBtn button{
    text-align: center;
}
.catalogo{
    width: 100%;
    display: grid;
    height: auto;
    overflow: hidden;
}
.catalogoFiltro{
    width: 100%;
    height: 100px;
    margin: auto;
    margin-bottom: 100px;
    background-color: #00CCFF
}
.productos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr) );
    margin-left: 5%;
    margin-right: 5%;
    grid-column-gap: 100px;
    grid-row-gap: 50px;
}
.boxItem1{
    margin: auto;
    width: auto;
    height: auto;
    border-radius: 5px;
}
.item1{
    margin: auto;
    background-color: var(--backcolor1);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    overflow: hidden;
    flex-wrap: wrap;
    border-radius: 10px;
    gap: 5px;
    transition: .5s;
    
}
.item1:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: .5s;
}
.item1:hover:before{
    content: '';
    position: absolute;
    width: 40%;
    height: 150%;
    transition: .9s;
    background:linear-gradient(#bc00dd,#f20089);
    animation: rotate 2s linear infinite;
    
} 

.item1:hover:after{
    content: '';
    position: absolute;
    background-color: var(--backcolor1);
    inset: 5px;
    border-radius: 10px;
    transition: .9s;
}

@keyframes rotate {
    
        from
        {
            transform: rotate(0deg);
        }
        to
        {
            transform: rotate(360deg);
        }
    

}
.imagenItem1{
    margin-top: -13px;
    width: 97%;
    height: 250px;
    z-index: 100;
    flex-wrap: wrap;
    border-radius: 10px 0 0 10px
}
.imagenItem1 img{
    width: 100%;
    height: 100%;
    border-radius: 10px;

}
.descripcionBox{
    background-color:var(--preciobox);
    width: 97%;
    height: auto;
    text-align: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 150;
    transition: .5s;
    border-radius: 5px;
}
.precioItem1{
    margin: auto;
    text-align: center;
    height: 90px;
    width: auto;
    z-index: 20;
    
}

.bx-cart-add  {

    color: var(--carrito1)
}
.precioItem1 p {
    align-items: center;
    text-align: left;
    font-size: 20px;
}
.precioItem1 i {
    position: relative;
    text-align: right;
    font-size: 80px;
    width: 50%;
    bottom: 65px;
    right: -150px;
}
.descripcionBox:hover{
    position: relative;
    transform: translateY(-20px);
    transition: .5s;
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;

    
}
footer{
    background-color: #f20089;
    height: a;
}

 @media (min-width: 500px) {
    body{
    }
.navbar{
    background: linear-gradient(to bottom, var(--deg1), white);
    height: auto;
}
.navbar button{
    width: 100px;
}
.navbar i{
    font-size: 100px;
}
.navbar span{
    font-size: 50px;
}
.Carrito{
    top: 50px;

    position: fixed;
    z-index: 900;
    right: -100%;
}
.ShowCart{
    left: 0;
    z-index: 200

}
.Favoritos{
    top: 50px;
    background-color:pink;
    position: fixed;
    width: 200px;
    height: 500px;
    z-index: 900;
    left: -100%;

}
.Favoritos li{
    font-size: 30px;
    text-decoration: none;
    list-style: none;
}
.FavoritosShow{
    left: 0;
    z-index: 200;
    
}

.fuente{
    background-color: var(--backcolor1);
    width: 600px;
    height: auto;
    
}
.dentroDe{
width: 600px;
}
.itemcart1{
    display: flex;
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    background-color: var(--backgroundcolor);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.imagenCart{
    width: 200px;
    height: 100%;
}
.swiper{
    top: 150px;
    height: 700px;
    width: 600px;
    margin-bottom: 200px;
}
.banner{
width: 100%;
height: 100%;
align-items: center;
}
.principalTitulo{
    height: auto;
    width: 100%;
    font-size: 40px;
    text-align: center;
}
.productos{
    margin-left: 15%;
    margin-right: 15%;
    grid-column-gap: 250px;
    grid-row-gap: 100px;
}
.boxitem1{
   width: auto;
   height: auto;

}
.item1{
    width: 500px;
    height: 700px;
}
.imagenItem1{
    margin-top: -35px;
    width: 96%;
    height: 400px;
    z-index: 100;
    flex-wrap: wrap;
    border-radius: 10px 0 0 10px
}
.descripcionBox{
    width: 96%;
    height: 150px;
}
.precioItem1 p {
    align-items: center;
    text-align: left;
    font-size: 35px;
    margin-top: -10px;
}
.precioItem1 i {
    position: relative;
    text-align: right;
    font-size: 120px;
    width: 50%;
    bottom: 120px;
    left: 250px;
}
.item1:hover:after{
    content: '';
    position: absolute;
    background-color: var(--backcolor1);
    inset: 10px;
    border-radius: 10px;
    transition: .9s;
}
.descripcionBox:hover{
    transform: translateY(-50px);
    box-shadow: rgba(240, 46, 170, 0.4) 0px 12px, rgba(240, 46, 170, 0.3) 0px 24px, rgba(240, 46, 170, 0.2) 0px 36px, rgba(240, 46, 170, 0.1) 0px 48px, rgba(240, 46, 170, 0.05) 0px 60px;

    
}
}
@media(max-width: 499px) {
    body{
        
    }
    .fuente{
        max-height: 400px;
        overflow: scroll; 
    }
}